.mainCard{
    margin-top: 0px;
    padding: 0px;
    width: 140vh;
}
.imageStyle{
    margin: 5vh;
    width: 20vh;
}
.linkdata{
    padding-left: 8px;
    padding-right: 8px;
}
.mainSlider{
    margin-top: 30px;
}
.slider .indicators .indicator-item {
    height: 10px;
    width: 10px;
}
.slider .indicators .indicator-item.active {
    background-color:black;
}
.imageSliders{
    height: 500px;
}
.news{
    overflow: auto;
    height: 300px;
    list-style: none;
}
.bulten{
    margin-left: 30px;
    margin-right: 10px;
    text-align: left;
    overflow: auto;
    height: 500px;
}
.imp{
    text-align: left;
    margin-left: 10px;
}
@media(max-width: 1025px){
    .mainContainer{
    margin-left: 50px;
    margin-right: 50px;
    }
    .mainCard{
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 130%;
    }
    .imageStyle{
        margin: 3vh;
        width: 8vh;
    }
    .linkdata{
        padding-left: 5px;
        padding-right: 5px;
    }
    .mainSlider{
        margin-top: 10px;
        margin-left: 10px;
    }
}
@media(max-width: 769px){
    .mainContainer{
    margin-left: 20px;
    margin-right: 20px;
    }
    .mainCard{
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 112%;
    }
    .imageStyle{
        margin: 3vh;
        width: 8vh;
    }
    .navClass{
        margin-left: 50px;
        width: 90%;
    }
    .mainSlider{
        margin-top: 10px;
        margin-left: 40px;
    }
}
@media(max-width: 415px){
    .mainContainer{
    margin-left: 20px;
    margin-right: 20px;
    }
    .mainCard{
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .imageStyle{
        margin-top: 3vh;
        margin-left: 18vh;
        margin-bottom: 0px;
        width: 12vh;
    }
    .navClass{
        margin-left: 30px;
        width: 85%;
    }
    .imageSliders{
        height: 300px;
    }
}
@media(max-width: 380px){
    .imageStyle{
        margin-top: 3vh;
        margin-left: 90%;
        margin-bottom: 0px;
        width: 12vh;
    }
}
@media(max-width: 300px){
    .mainContainer{
    margin-left: 15px;
    margin-right: 10px;
    }
    .mainCard{
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .imageStyle{
        margin-top: 3vh;
        margin-left: 80%;
        margin-bottom: 0px;
        width: 12vh;
    }
    .navClass{
        margin-left: 20px;
        width: 85%;
    }
}